{% extends 'base.html' %}

{% block head %}

<title>Water: The Most Essential Resource</title>


{% endblock %}

{% block body %}

<div class="container">
<link rel="icon" type="image/x-icon" href="favicon.ico">
  <div class="nav-wrapper">
      <div class="left-side">
          <div class="brand">
              <div>Water: The Most Essential Resource</div>
          </div>
      </div>
      <div class="right-side">
          <div class="nav-link-wrapper">
              <a href="/">Home</a>
          </div>
          <div class="nav-link-wrapper">
              <a href="/signup">Sign Up</a>
          </div>
          <div class="nav-link-wrapper">
              <a href="/login">Login In</a>
          </div>
      </div>
  </div>
    </div>
<h2>Welcome to the Website!</h2>
<p style="font-size: 1.5em;">The ultimate tool to track your water usage and contribute to a better cause.</p>
<p><img src="https://www.wearebarnsley.com/storage/news-articles/June2021/baEqPbQHq7U1DCqGtNXw.jpg" alt="" width="395" height="177" /></p>

{% endblock %}

