{% extends 'base.html' %}

{% block head %}

<title>Water: The Most Essential Resource</title>


{% endblock %}

{% block body %}

<div class="container">
<div class="nav-wrapper">
<div class="left-side">
<div class="brand">
<div>Eshan Iyer</div>
</div>
</div>
<div class="right-side">
<div class="nav-link-wrapper"><a href="/">Home</a></div>
<div class="nav-link-wrapper"><a href="/signup">Sign Up</a></div>
<div class="nav-link-wrapper"><a href="/login">Login In</a>
<div class="nav-link-wrapper"><a href="/ourmission">Our Mission</a></div>
</div>
</div>
</div>
<h2>Welcome to the Website!</h2>
<p style="font-size: 1.5em;">This currently is a placeholder website and does not hold a purpose at this time.</p>
<p><img src="https://www.kindpng.com/picc/m/424-4245445_transparent-clipboard-clipart-cartoon-clipart-construction-worker-hd.png" alt="" width="236" height="303" /></p>
</div>
{% endblock %}

