{% extends 'base.html' %}

{% block head %}
<title>Login</title>
{% endblock %}

{% block body %}
<div class="container">
  <div class="nav-wrapper">
      <div class="left-side">
          <div class="brand">
              <div>Water: The Most Essential Resource</div>
          </div>
      </div>
      <div class="right-side">
          <div class="nav-link-wrapper">
              <a href="/">Home</a>
          </div>
          <div class="nav-link-wrapper">
              <a href="/signup">Sign Up</a>
          </div>
          <div class="nav-link-wrapper active-nav-link">
              <a href="/login">Login In</a>
          </div>
      </div>
  </div>
    </div>
<form class="form" method="POST" action="">

    <div class="form-group">
            <input autocomplete="Login" autocorrect="off" required type="name" name="name" id="name" class="input-field" autofocus="autofocus" placeholder="First Name">
        </div>
    <div class="form-group">
            <input type="submit" name="submit" class="input-signup" value="Submit">
    </div>
</form>
{% endblock %}