{% extends 'base.html' %}

{% block head %}

<title>Our Mission</title>


{% endblock %}

{% block body %}
<div class="container">
<link rel="icon" type="image/x-icon" href="favicon.ico">
  <div class="nav-wrapper">
      <div class="left-side">
          <div class="brand">
              <div>Water: The Most Essential Resource</div>
          </div>
      </div>
      <div class="right-side">
          <div class="nav-link-wrapper">
              <a href="/">Home</a>
          </div>
          <div class="nav-link-wrapper">
              <a href="/ourmission">Our Mission</a>
          </div>
          <div class="nav-link-wrapper">
              <a href="/logout">Logout</a>
          </div>
      </div>
  </div>
    </div>
<h1>Our WHY </h1>
<h2>Our mission is to raise awareness about how to conserve water and why YOU should conserve water so we can have a better environment to ensure a greater tomorrow. We made this survey so you can track your daily usage of water.</h2>
<ol>
</ol>
<p><img src="https://www.amnh.org/var/ezflow_site/storage/images/media/amnh/images/explore/ology-images/earth/what-s-the-big-idea-about-earth/earth-icon/4690373-1-eng-US/earth-icon.png" alt="What is Earth? | AMNH" width="328" height="328" /></p>
{% endblock %}
